/* cria a barra verde */
header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  height: 100px;
  justify-content: space-between;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  color: white;
}

#email-login , #senha {
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 3px;
}

#botaoLogin {
  margin-left: 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 90px;
  height: 34px;
  background-color: blueviolet;
  color: white;
}

/* alterei o tipo de fonte do corpo todo só para ficar um pouco melhor */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* estilizando o conteudo principal */
main {
  padding-top: 20px; /* dando uma leve afastada para não ficar tudo junto */
  display: flex; /* Colocando como flex para colocar os conteudos um do lado do outro */
  justify-content: space-around; /* colocando os conteudos lado a lado */
  align-items: center; /* Colocando os itens centralizados */
  padding-right: 50px; /* Afastando um pouco do lado direito */
  padding-left: 50px; /* Afastando um pouco do lado esquerdo */
}

/* Estilizando o formulário */
#evaluation-form {
  display: flex;
  width: 675px; /* Tamanho do formulário */
  flex-direction: column; /* deixando o formulário como coluna */
}

/* Estilizando a parte que recebe "nome" e "sobrenome" */
#nomeCompleto {
  display: flex;
  justify-content: space-between; /* Deixando eles lado a lado */
}

/* Estilizando um pouco a parte que seleciona as casas */
#label-house {
  margin-top: 2px;
  margin-right: 5px;
}

/* Estilizando a parte que recebe nome, sobrenome e email */
.input-forms {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 3px;
}

/* Estilizando a parte que recebe o "email" e a casa */
#emailCasa {
  align-items: center; /* Deixando os itens centralizados */
  margin-top: 4px;
  display: flex;
  justify-content: space-between; /* Deixando eles lado a lado */
}

/* Estilizando a parte que recebe a casa */
#house {
  width: 140px;
  height: 30px;
}

/* Estilizando a linha horizontal */
hr {
  margin: 1em 1em 1em 0.1em;
  border-style: groove;
  border-width: 1px;
}

/* Deixando a parte do meio do forms lado a lado */
#middle-section {
  display: flex;
  justify-content: space-between;
}

/* Estilizando a parte que seleciona a família */
#family {
  display: block;
  flex-direction: column;
  width: 50%;
}

/* Organizando TODA a parte de escolha de conteúdos com checkbox */
#checkbox-conteudos {
  display: flex;
  flex-direction: column;
}

/* Dando um espacinho só pra ficar melhor */
#radio-family , #checkbox {
  margin-top: 5px;
}

/* Aumentando o tamanho da imagem e afastando ela um pouco pela esquerda */
#trybewarts-forms-logo {
  height: 500px;
  margin-left: 50px;
}

/* Estilizando o rodapé */
footer {
  display: flex;
  justify-content: center; /* Deixando o conteúdo no meio da página */
  color: white;
  background-color: black;
  height: 50px;
  align-items: center; /* Deixando o conteúdo centralizado */
  bottom: 0;
  left: 0;
  position: fixed; /* Fixando o rodapé no final da página */
  width: 100%;
}

#validacao {
  display: flex;
  align-items: center;
  margin-top: -20px;
  justify-content: space-between;
}
